:80 {
	encode zstd gzip

	handle /api {
		reverse_proxy 127.0.0.1:8000
	}

	@account_pages path /login /signup /dashboard /pool /pool/new
	handle @account_pages {
		reverse_proxy 127.0.0.1:8000
	}

	handle {
		root * /opt/xmr/web/static
		file_server
	}
}
